@font-face {
  font-family: "Yekan";
  src: url("/fonts/Yekan.eot");
  src: url("/fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Yekan.woff2") format("woff2"),
    url("/fonts/Yekan.woff") format("woff"),
    url("/fonts/Yekan.otf") format("opentype"),
    url("/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  background: #fff;
  font-family: "Yekan";
  line-height: 1.7;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.title-h4 {
  font-size: ;
}

/* Container */
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav ul li a {
  transition: 0.3s;
  font-size: 18px;
}
nav ul li a:hover {
  color: #c19e2b;
}
.btn-header {
  background: #d4af37;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
}
.btn-header:hover {
  background: #c19e2b;
}

/* Hero */
.hero {
  text-align: center;
  background: linear-gradient(to bottom, #fff, #faf8f4);
  padding: 6rem 1rem;
}
.hero h1 {
  font-size: 28px;
  font-weight: 800;
}
.hero h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px 0;
}
.hero p {
  color: #555;
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 18px;
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.hero-buttons a {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.hero-buttons .btn-primary {
  background: #d4af37;
  color: #fff;
}
.hero-buttons .btn-primary:hover {
  background: #c19e2b;
}
.hero-buttons .btn-secondary {
  border: 1px solid #d4af37;
  color: #d4af37;
}
.hero-buttons .btn-secondary:hover {
  background: #d4af37;
  color: #fff;
}

/* Sections */
section {
  padding: 4rem 3rem;
}
/* Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.course-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.course-card h4 {
  color: #d4af37;
  margin-bottom: 0.5rem;
  font-size: 24px;
}
.course-card p {
  font-size: 16px;
}
.course-card .icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#teachers {
  text-align: center;
  padding: 3rem 1rem;
  background: #f9fafb;
}

.teachers-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 2rem;
  position: relative;
}

.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.teacher-card {
  background: #fff;
  width: 300px;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  text-align: center;
}

.teacher-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}
.teacher-card h4 {
  font-size: 24px;
  color: #222;
  margin-bottom: 0.5rem;
}

.teacher-card .expertise {
  color: #c19e2b;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.teacher-card p {
  font-size: 18px;
  color: #555;
  line-height: 1.7;
}

/* question */
.question {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.question-box {
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.question-box img {
  width: 100px;
  height: 70px;
  margin-bottom: 10px;
}
.question-box h4 {
  font-size: 20px;
  text-align: center;
  color: #333;
}
.question-box p {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

/* About Lessons */
.about-lessons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.about-lessons img {
  height: 300px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.about-lessons .text {
  flex: 1 1 300px;
}
.text h3 {
  display: flex;
  align-items: start;
}
.about-lessons .text p {
  color: #555;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

/* Contact */
#contact {
  background-color: #f9f9f9;
}
.contact-info {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.contact-info li {
  list-style: none;
}
.contact-info li a {
  display: flex;
  gap: 10px;
}
.contact-info img {
  width: 25px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #f9f9f9;
  border-top: 1px solid #eee;
  color: #555;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #c19e2b;
}

/* استایل پیش‌فرض منو */
header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Responsive */
@media (max-width: 641px) {
  .title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  .title-h4 {
    font-size: 18px;
  }
  .container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
  }
  header {
    padding: 5px 0px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li a {
    font-size: 14px;
    font-weight: 400;
  }

  .hero-buttons a {
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    display: none;
  }

  header.active nav {
    display: block;
    position: absolute;
    top: 70px;
    right: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  header.active nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  header.active nav a {
    color: #000;
  }

  header .btn-header {
    display: none;
  }

  /* Hero */
  .hero {
    padding: 2rem 10px;
  }
  .hero h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3px 0;
  }
  .hero h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .hero p {
    font-size: 16px;
  }

  /* Teachers */
  .teachers {
    flex-direction: column;
    align-items: center;
  }

  /* Courses */
  .course-card p {
    font-size: 14px;
  }

  /* About Lessons */
  .about-lessons {
    flex-direction: column;
  }
  .about-lessons img {
    width: 100%;
    height: auto;
  }

  /* Contact */
  .contact-info {
    justify-content: center;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .contact-info li a {
    justify-content: center;
    align-items: center;
  }
  .contact-info img {
    width: 20px;
  }
  .question-title {
    font-size: 18px;
  }

  /* Footer */
  footer {
    font-size: 14px;
    padding: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
  header h1 {
    font-size: 24px;
  }
  nav ul {
    gap: 20px;
  }
  nav ul a {
    font-size: 16px;
  }
  .btn-header {
    padding: 7px 10px;
    font-size: 16px;
  }
  /* Hero */
  .hero h2 {
    font-size: 28px;
    color: #333;
  }
  .hero p {
    color: #555;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 400;
  }
  .hero-buttons a {
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  /* Sections */
  section {
    padding: 2rem 1rem;
  }
  h3 {
    font-size: 24px;
  }

  /* Courses */
  .course-card p {
    font-size: 14px;
  }
  .course-card .icon {
    font-size: 24px;
  }
  /* About Lessons */
  .about-lessons {
    display: flex;
    flex-direction: column;
  }
  .about-lessons .text p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .about-lessons .text {
    padding: 20px 20px;
  }
  .about-lessons img {
    width: 350px;
    height: 300px;
  }

  /* Contact */
  .contact-info {
    justify-content: center;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .contact-info li a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .contact-info img {
    width: 25px;
  }
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    color: #555;
  }
}
